.App {
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu, .Quiz {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Menu button {
    height: 50px;
    width: 300px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.Quiz button {
    height: 50px;
    width: 300px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

